*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(2, 78, 78);
    width: auto;
    height: 100vh;
}

.times{
    padding: 100px 0px 0px 100px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li{
    list-style: none;
    font-family: 'Oxygen', sans-serif;
}
span {
    font-family: 'Oxygen', sans-serif;
    padding: 8px;
    height: 50px;
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    transition: 500ms ease-in;
    border-radius: 8px;
}

span:hover{
    height: 70px;
    width: auto;
    font-size: 25px;
    background-color: rgb(2, 2, 133);
    cursor: pointer;
}

h1{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 60px;
}
h2{
    text-align: center;
    font-size: 50px;
}

@media screen and (max-width: 480px) {
    body{
        background: #070782;
        background: -webkit-linear-gradient(bottom right, #070782, #362C43);
        background: -moz-linear-gradient(bottom right, #070782, #362C43);
        background: linear-gradient(to top left, #070782, #362C43);
    }
    .times{
        padding: 0px;
        margin-top: 50px;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    span{
        margin: 10px;
    }
    h2{
        margin-top: 5px;
    }
}

#firstBtn{}